<article class="about-container" @pageTransition>
    <div class="about-description-container grow">
        <h1>About Me</h1>
        <p>Hi there! My name is Martin Lee</p>
        <p>For the past decade I have been been working in the medical industry as a Lab Technician Assistant.</p>
        <p>However in 2020, I decided to embark on a career change and enrolled at British Columbia Institute of Technology (BCIT)'s Computer Systems Technology program. From there I discovered my passion and talent for web development.</p>
        <p>For the past 2 years after graduating I have been working on personal projects to improve my skills and experience on new languages and frameworks</p>
        <p>I'm excited about the journey ahead and look forward to potential opportunities with you, where I can continue to grow and contribute to your organization and your team.</p>
    </div>
    <div class="about-qrcode-container grow">
        <img src="images/my_life.png" alt="a sad image of my programming life" class="meme"/>
        <p>[ My life as a developer ]</p>
    </div>
</article>