.primary-button{
    color: var(--primary-color);
    background: transparent;
    border: var(--border-size) solid var(--primary-color);
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    width: 70px;
    max-width:80px;
    &:hover{
        background: var(--primary-color);
        color: var(--neutral-color);
        transition: all 0.2s ease;
    }
    &:active{
        background-color: var(--tertiary-color);
        font-weight:300;
    }
}