<form class="contact-form" [formGroup]="contactForm" (submit)="onSubmit($event)">
    <div class="input-wrapper">
        <label for="name">Name</label>
        <input type="text" name="user_name" id="name" formControlName="name" required>
        @if(isValid('name')){<span class="input-error">This field is required.</span>}
    </div>
    <div class="input-wrapper">
        <label for="email">Email</label>
        <input type="email" name="user_email" id="email" formControlName="email" required>
        @if(isValid('email')){<span class="input-error">This field is required. Proper email format is required</span>}
    </div>
    <div class="input-wrapper">
        <label for="message">Message</label>
        <textarea name="message" id="message" formControlName="message" required></textarea>
        @if(isValid('message')){<span class="input-error">This field is required.</span>}
    </div>
    <input type="submit" appClick value="Send">
</form>