.contact-form{
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em 1.5em 2em;
    width: 450px;
    height: auto;
    justify-content: space-between;
    & label{
        font-size: calc(var(--font-size) * 0.55);
    }
    & input{
        font-size: calc(var(--font-size) * 0.55);
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--primary-color);
        color: var(--quaternary-color);
        &:not(input[type="submit"]){
            height: 30px;
        }
        &:focus{
            outline: none;
        }
    }
    & textarea{
        margin-top: 0.5em;
        width: 100%;
        height: 175px;
        background-color: var(--neutral-color);
        color: var(--quaternary-color);
        border: 1px solid var(--primary-color);
        font-size: calc(var(--font-size) * 0.55);
        padding: 0.5em;
        resize: none;
        &:focus{
            outline: none;
        }
    }
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
}

.contact-form input[type="submit"]{
    margin-top: 0.75em;
    width: fit-content;
    padding: 0.5em 1em;
    align-self: flex-end;
    border: 1px solid var(--primary-color);
    &:hover{
        background-color: var(--primary-color);
        color: var(--neutral-color);
        cursor: pointer;
    }
}

.input-error{
    margin-top: 0.5em;
    color: red;
}

input.ng-dirty.ng-invalid {
    color: red
}