<div class="card-container expand-glowing" (mouseenter)="isMouseEntered = true" (mouseleave)="isMouseEntered = false" appClick (click)="modalService.openModal(data)">
    <h2>{{data.title | truncate: 50}}</h2>
    <img class="card-image" ngSrc={{data.images[0].src}} width="100" height="100" alt={{data.images[0].alt}} />
    <div class="card-description-container">
        <p>{{data.description | truncate: 160}}</p>
        <div class="card-footer">
            <div class="calendar-container">
                @for(tool of toolsList; track $index){
                    @if(tool.name === data.framework){
                        <img class="framework-icon" src="{{tool.src}}" alt="{{tool.alt}}"/>
                    }
                }
                <span class="card-year">{{data.framework | titlecase}}</span>
            </div>
            @if(isMouseEntered){<span class="show-project">Show Project</span>}
        </div>
    </div>
</div>
